:root {
  --WHITE: #ffffff;
  --ORANGE: #ff6c00;
  --text-color-primary: #303030;
  --text-color-secondary: #555;
  --text-color-title: var(--WHITE);
  --text-color-highlight: var(--ORANGE);
  --text-color-accent: #9da4bd;
  --item-gap-text: 20px;
  --item-gap-image: 30px;
}

/* CSS Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  /* width: 100% -> the image will take up the full width of its parent container */
  width: 100%;
  /* max-width: 100% -> ensures that the image will not exceed its original size */
  max-width: 100%;
  height: auto;
}
/* END of CSS Reset */

body {
  font-family: "Open Sans", sans-serif;
}

/* GENERAL Styles */
.container {
  padding: 0;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* END of GENERAL Styles */

/* NAVBAR Styles */
/*.header {
  padding-top: 32px;
  width: 100%;
  position: absolute;
  top: 0;
}*/

.header-container {
  width: 1280px;
  height: 705px;

  display: flex;
  justify-content: space-between;

  background-color: white;
}
.logo-container {
  display: block;
  align-content: left;
  width: 68.93px;
  padding-top: 32px;
  margin-left: 55px;
}
.nav-container {
  display: flex;
  align-items: flex-start;

  margin: 0;

  padding-right: 55px;

  width: 1125px;

  justify-content: space-between;
  border: 1px solid orange;

  background-color: gray;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 130px;
  background-color: var(--primary-white-color);
}
.navbar-list {
  display: flex;
}
.navbar-item {
  display: flex;
}
.navbar-item:not(:first-child) {
  margin-left: calc(2 * var(--item-gap-text));
}
.navigation-item {
  display: flex;
  align-items: center;

  padding-top: 52px;
  padding-left: 100px;
}
.navigation-item:nth-child(2) {
  justify-content: right;
}
.contacts {
  padding-top: 40px;
}
.contacts-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.contacts-item:nth-child(2) {
  margin-left: calc(2 * var(--item-gap-text));
}
.button {
  /* Layout */
  width: 160px;
  height: 40px;
  flex-shrink: 0;

  background: rgba(25, 28, 38, 0.2);
  /* Style */
  border-radius: 25px;
  border: 1px solid #ff6c00;
  /* Typography*/
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.navbar-link,
.header-address-link {
  color: #fff;

  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}
.navbar-link:hover,
.header-address-link:hover {
  color: orange;
}

.header-button:hover {
  background-color: orange;
}
/* End of NAVBAR Styles */

/* HERO Styles */
.hero-container {
  width: 1280px;
  display: flex;

  justify-content: flex-end;
}
.hero-overlay {
  width: 1125px;
  display: flex;

  border: 1px solid orange;

  flex-direction: column;
  position: relative;
  top: -712px;
}
/* End of HERO Styles */
