:root {
  --WHITE: #ffffff;
  --ORANGE: #ff6c00;
  --text-color-primary: #303030;
  --text-color-secondary: #555;
  --primary-orange-color: var(--ORANGE);
  --text-color-title: var(--WHITE);
  --text-color-highlight: var(--ORANGE);
  --text-color-accent: #9da4bd;
  --item-gap-text: 20px;
  --item-gap-image: 30px;
}

/* CSS Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  /* width: 100% -> the image will take up the full width of its parent container */
  width: 100%;
  /* max-width: 100% -> ensures that the image will not exceed its original size */
  max-width: 100%;
  height: auto;
}
.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  border: 0px;
}
/* END of CSS Reset */

body {
  font-family: "Open Sans", sans-serif;
}

/* GENERAL Styles */
.container {
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.button {
  /* Layout */
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  /* Style */
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  /* Typography*/
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.section-title {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding-left: 30px;
  position: relative;

  height: 15px;
}
.section-title-text {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.section-title-text.dark {
  color: rgba(157, 164, 189, 0.6);
}
.section-title-text.lite {
  color: #303030;
}
.section-title-bar {
  /*layout*/
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  position: relative;
  top: -22.5px;
}
.section-title-bar.dark {
  background: rgba(157, 164, 189, 0.6);
}
.section-title-bar.lite {
  background: #303030;
}
.hero-title {
  /* layout */
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* typography */
  color: #fff;
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
.main-title {
  display: flex;
}
.main-title-text {
  /* layout*/
  width: 500px;
  /* Typography */
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}
.main-title-text.lite {
  color: #303030;
}
.main-title-text.dark {
  color: #fff;
}
.message-title {
  display: flex;
}
.message-title-text {
  /* layout*/
  width: 500px;
  height: 60px;
  /* Typography */
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}
.message-title-text.lite {
  color: #555;
}
.message-title-text.dark {
  color: #fff;
}
/* END of GENERAL Styles */

/* NAVBAR Styles */
.header-container {
  width: 1280px;
  height: 705px;

  display: flex;
  justify-content: space-between;

  background-color: white;
  position: relative;
}
.logo-container {
  display: block;
  align-content: left;
  width: 68.93px;
  padding-top: 32px;
  margin-left: 40px;
}
.nav-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0;
  padding-right: 55px;
  width: 1125px;

  background-color: gray;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 130px;
  background-color: var(--primary-white-color);
}
.navbar-list {
  display: flex;
}
.navbar-item {
  display: flex;
}
.navbar-item:not(:first-child) {
  margin-left: calc(2 * var(--item-gap-text));
}
.navigation-item {
  display: flex;
  align-items: center;

  padding-top: 52px;
  padding-left: 100px;
}
.navigation-item:nth-child(2) {
  justify-content: right;
}
.contacts {
  padding-top: 40px;
}
.contacts-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.contacts-item:nth-child(2) {
  margin-left: calc(2 * var(--item-gap-text));
}
.navbar-link,
.header-address-link {
  color: #fff;

  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}
.navbar-link:hover,
.header-address-link:hover {
  color: orange;
}
.button-light {
  color: #303030;
}
.button-dark {
  color: #fff;
}
.button:hover {
  background-color: orange;
}
.button-dark:hover {
  color: #fff;
}
.button-light:hover {
  color: #fff;
}
/* End of NAVBAR Styles */

/* HERO Styles */
.hero-container {
  width: 1280px;
  display: flex;

  justify-content: flex-end;
  position: relative;
  top: -600px;
}
.hero-overlay {
  width: 1125px;
  height: 592px;

  display: flex;
  justify-content: flex-end;

  flex-direction: column;
  position: relative;

  padding-bottom: 206px;
}

.hero-overlay .section-title {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding-left: 30px;
  margin-bottom: -20px;
}
.hero-message-title {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  margin: 0;
}
.hero-message-title-text {
  /* layout*/
  width: 486px;
  height: 62px;
  /* Typography */
  color: #9da4bd;

  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

/* End of HERO Styles */
/* ABOUT Styles */
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.about-style {
  display: flex;

  position: relative;
  margin-top: -600px;
}
.about-contents {
  display: flex;
}
.about-item {
  display: flex;
}
.about-item:nth-child(1) {
  margin-left: 40px;
}
.about-item:nth-child(2) {
  margin-left: 30px;
  margin-right: 64px;
}

.about-message {
  display: flex;
}
.about-item.image1 {
  width: 270px;
  height: 445px;
  background: url(../images/layer_img\ 1.png);
}
.about-item.image2 {
  width: 270px;
  height: 445px;
  background: url(../images/layer_img\ 2.png);
}
.about-item.message {
  display: flex;
  flex-direction: column;
}
.about-item-message {
  display: flex;
}
.hero-item-message {
  display: flex;
}
.about-item-message:nth-child(1),
.about-item-message:nth-child(4) {
  padding-bottom: 40px;
}
.about-item-message:nth-child(2),
.about-item-message:nth-child(3) {
  padding-bottom: 20px;
}
.about-message-text {
  /* layout*/
  width: 536px;
  /* Typography */
  color: #555;

  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
}
/* End of ABOUT Styles */

/* SERVICES and PRICES Styles */
.services-layout {
  /*max-width: 1280px;*/
  margin: 0 auto;

  background-image: url(../images/layer_img.png),
    linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services-contents {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
}
.services-item {
  display: flex;
}
.services-item:nth-child(1) {
  padding-bottom: 40px;
}
.services-item:nth-child(2) {
  padding-bottom: 40px;
}
.services-item:nth-child(3) {
  padding-bottom: 60px;
}
.services-item:nth-child(4) {
  justify-content: center;
}
.prices-contents {
  display: flex;
}
.prices-list {
  padding-top: 28px;
  padding-left: 38px;
  padding-right: 42px;
}
.prices-list:nth-child(1) {
  width: 585px;
  height: 240px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:nth-child(2) {
  width: 585px;
  height: 240px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
li.prices-item:not(:first-child) {
  padding-top: 20px;
}
.prices-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}
.prices-item-text {
  /* typography */
  color: #9da4bd;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}
.prices-item-text:last-child {
  order: 1;
}
/* End of SERVICES and PRICES Styles */

/* OLD SCHOOL Styles */
.oldschool-contents {
  display: flex;
}
.oldschool-items {
  display: flex;
}
.oldschool-layout {
  max-width: 1280px;
  margin: 0 auto;
}
.benefits-contents {
  display: flex;

  padding-left: 155px;
  gap: 30px;
  padding-right: 130px;
}
.benefits-list:not(:first-child) {
  margin-top: 35px;
}
.benefits-item {
  /* layout */
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--secondary-background-color);
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);

  /* styles */
  background: #f7f7f7;
  margin-bottom: 24px;
}
div.benefits-item .benefits-main,
div.benefits-item .benefits-message {
  display: flex;
  justify-content: center;
}
.benefits-main {
  /* layout */
  width: 80px;
  /* typography */
  color: #303030;

  text-align: center;
  font-family: Open Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}
.benefits-main::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  vertical-align: top;
  color: var(--text-color-highlight);
}
.benefits-message {
  /* layout */
  width: 122px;
  /* typography */
  color: #303030;

  text-align: center;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.whyus-contents {
  display: flex;
  flex-direction: column;
}
.whyus-items {
  display: flex;
}
.whyus-item:nth-child(1) {
  padding-bottom: 40px;
}
.whyus-item:nth-child(2) {
  padding-bottom: 20px;
}
/* End of OLD SCHOOL Styles */

/* TEAM Styles*/
.team-layout {
  /* layout */
  margin: 0 auto;
  height: 890px;
  /* style */
  background: #f7f7f7;
}
.team-item:not(:first-child) {
  margin-top: 44px;
}
.team-message {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.team-message-item:not(:first-child) {
  margin-top: 30px;
}
.team-details {
  display: flex;
  justify-content: center;
}
.details-list {
  display: flex;
  width: 370px;
  flex-direction: column;
  align-items: center;
}
.details-list:not(:first-child) {
  margin-left: 30px;
}
.details-image {
  display: flex;
  width: 370px;
  height: 346px;
}
.details-name {
  color: #303030;

  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.details-work {
  color: --primary-orange-color;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
/* End of TEAM Styles */
